
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300" rel="stylesheet">
<style>
/* colour scheme and display font for large headings*/
  h1, h2 {color:red;
font-family: 'Comic Neue', cursive;
}
/* colour scheme for overall page, body text and links*/
  body{background-color:black;}
  p, ul,ol {color:white;}
  a, a:visited, a:hover {
    color: red;
}   
/*colour scheme for navigation bar and links*/
  nav, nav a:link, nav a:visited{background-color:red;}
  nav a:hover{color:green; background-color:white;}
/*colour scheme for links on gallery cards*/
.card a:link, .card a:visited{
  color:red;
}
/*change the width of captions e.g. if you have a larger self-portrait*/
figcaption{
max-width:600px; 
}
</style>
