<style>
  h1, h2 {color:red;
font-family: 'Comic Neue', cursive;
}

      body{background-color:black;}
  p, ul,ol {color:white;}
      nav, nav a:link, nav a:visited{background-color:red;}
      nav a:hover{color:green; background-color:white;}
a,
a:visited,
a:hover {
  color: red;
}     
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Comic+Neue:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">